:root {
  --bg: #1e1e1e;
  --text: #e0e0e0;
  --input-bg: #2a2a2a;
  --border: #444;
  --btn-bg: #333;
}

.header {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 12px;
  font-family: 'Segoe UI', Roboto, Arial, sans-serif;

  background: linear-gradient(135deg, #6a11cb, #2575fc); /* плавный градиент */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* стандартное свойство */
  color: transparent;

  text-shadow: 0 1px 3px rgba(0,0,0,0.3); /* лёгкая тень для читаемости */
}


body.light {
  --bg: #f2f2f2;
  --text: #111;
  --input-bg: #fff;
  --border: #ccc;
  --btn-bg: #e0e0e0;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: Arial, sans-serif;
  padding: 10px;
  width: 240px;
}

.theme-btn {
  width: 100%;
  height: 28px;
}

.field {
  margin-bottom: 14px;
}

label {
  font-size: 12px;
  margin-bottom: 4px;
  display: block;
}

.row {
  display: flex;
}

input {
  flex: 1;
  padding: 6px;
  background: var(--input-bg);
  color: var(--text);
  border: 1px solid var(--border);
}

button {
  background-color: var(--btn-bg);
  color: var(--text);
  border: 1px solid var(--border);
  cursor: pointer;
}

button[data-copy] {
  width: 32px;
  min-width: 32px;
  height: 32px;
  padding: 0;
  margin-left: 6px;

  background: var(--btn-bg) url("copy.png") center / 16px no-repeat;
  border: 1px solid var(--border);
}

button:hover {
  filter: brightness(1.1);
}

.status {
  font-size: 11px;
  color: #4caf50;
  opacity: 0;
  transition: opacity 0.2s;
}

.status.show {
  opacity: 1;
}
